.footer{
  width: 1440px;
  height: 356px;
  background-color: #7297ef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  &__namlogo{
    text-decoration: none;
  }
  &__wrapper{
    width: 998px;
    height: 276px;
    display: flex;
    flex-direction: column;
  }

  &__list{
    list-style-type: none;
    padding-bottom: 10px;
  }
  &__link{
    text-decoration: none;
    color :#ffffff;
    font-size: 16px;
    line-height: 30px;
  }
  &__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF
  }
  &__middle{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__media{
  margin-right: 25px;
  text-decoration: none;
  }
  &__media:nth-last-child(1){
    margin-right: 0;
  }
  &__imges{
    width: 20;
    height: 20;
  }
  &__heading{
    color: #ffffff;
    font-size: 18px;
    line-height: 23px;
  }
}
