.modalls__wrapper{
  display: none;
}

.modal{

  position: absolute;
  width: 850px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
  background-color: #ffffff;
  z-index: 30;
  top: 25%;
  left: 0;
  bottom: 25%;
  right: 0;
  &__button{
    width: 187px;
    height: 58px;
    background: #F78B3B;
    border-radius: 10px;
    padding: 15px 40px;
    color: #ffffff;

  }
  
}
.parda{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.5);
  z-index: 20;
}