.nav{
  margin-top: 135px;
  margin-bottom: 40px;
  width: 1200px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1d1;
  &__link{
    text-decoration: none;
    color: #7f7f7f;
    font-size: 18px;
    line-height: 21px;
  }
}